# Python Walrus Operator :=

There are a lot of controversies about the Walrus operator since it was introduced in Python 3.8. 


### Assignment statement
In an assignment statement, we can assign a value to a variable, and then in another cell we can see the value of the variable.

In [1]:
n = 10

In [2]:
n

10

### Assignment expression

With the walrus operator,, we can see that the value of this assignment expression is 10 and of course, n is assigned of the value 10 as well.

In [3]:
(n := 10)

10

In [4]:
n

10

### Use cases
Imagine you have a variable n and a  if statement, we can combine them into this one line of code.

In [5]:
n = 11
if n > 10:
    print(n)

11

In [6]:
if (n := 11) > 10:
    print(n)

11

You can even add additional conditions of n in the same line.

In [7]:
if (n := 11) > 10 and n % 2 == 1:
    print(n)

11

Another example is if we want to double the number in a list if the doubled number is greater than 2. To avoid calling i\*2 twice, we can use a walrus operator to assign it to j and replace the first i\*2 with j.

In [8]:
num = [1, 2, 3, 4, 5]

[i*2 for i in num if i*2 > 2]

[4, 6, 8, 10]

In [9]:
[j for i in num if (j := i*2) > 2]

[4, 6, 8, 10]